<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Vue Game Project / Dogfight</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    </head>
    <body>
        <div id="app">
            <section id="playerWrapper">
                <div v-if="playerActive">
                    <input type="text" @input="changeName" placeholder="Add your name">
                    <button type="button" @click="playerActive = !playerActive">Send</button>
                </div>
                <h1 v-else>{{playerName}}</h1>
                <img src="frenchie1.jpg">
                <div id="playerHpWrapper">
                    <div id="playerHp" :style="playerSize">
                        <span>{{playerHpPoint}}</span>
                    </div>
                </div>
            </section>
            <section id="monsterWrapper">
                <h1>MONSTER</h1>
                <img src="frenchie2.jpg">
                <div id="monsterHpWrapper">
                    <div id="monsterHp" :style="monsterSize">
                        <span>{{monsterHpPoint}}</span>
                    </div>
                </div>
            </section>
            <section id="buttonDiv">
                <button id="startBtn" type="button" @click="startGame" v-if="!gameIsRunning">START GAME</button>
                <div v-else>
                    <button id="attackBtn" type="button" @click="attack(1)">ATTACK</button>
                    <button id="specBtn" type="button" @click="attack(2)">SPECIAL ATTACK</button>
                    <button id="healBtn" type="button" @click="attack(-1)">HEAL</button>
                    <button id="giveUpBtn" type="button" @click="gameIsRunning = false">GIVE UP</button>
                </div>
            </section>
            <section id="listDiv" v-if="turns.length > 0">
                <ul>
                    <li v-for="turn in turns"
                        :class="{'playerTurn': turn.isPlayer, 'monsterTurn': !turn.isPlayer}">
                        {{turn.text}}
                    </li>
                </ul>
             </section>
        </div>
        <script src="app.js"></script>
    </body>
</html>